#root {
  max-width: 500px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  /* background-color: rgb(107, 184, 184); */
  background-color:hsl(300, 24%, 93%);
  color: hsl(300, 61%, 30%);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;

}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.link-block {
  border-bottom-width: 2px;
    border-color: darkgray;
    border-style: solid;
    border-radius: 5px;
    min-height: 1.5em;
  background-color: whitesmoke;
  word-break: break-all;
    overflow-wrap: break-word;
    white-space: normal;
}

.title-card {
  padding: 1em;
  margin: 1em;
  border-radius: 5px;
  border: 1px solid darkgray;
  /* background-color: lightgray; */
  box-shadow: 5px 5px 10px darkgray;
  background-color: rgb(169, 42, 170);
  color: whitesmoke;
}

.content-card {
  padding: 1em;
  margin: 1em;
  border-radius: 5px;
  border: 1px solid darkgray;
  background-color: lightgray;
  box-shadow: 5px 5px 10px darkgray;
  /* color: rgb(30, 145, 145); */
}

button {
  color: rgb(169, 42, 170);
  font-weight: 400;
}

.btn-primary {
  background-color: rgb(169, 42, 170);
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 5px;
}


.btn-warn {
  background-color:rgb(226, 104, 43);
  color: white;
  font-weight: 800;
  border: solid 1px darkgray;
  border-radius: 5px;
  margin: 2px;
  
}